
SOFTENG_254_QA/Assignments/1/testing/**/*.java
SOFTENG_254_QA/Assignments/1/testing/**/*.class
SOFTENG_254_QA/Assignments/1/testing/text/TestFlushLeft.class
SOFTENG_254_QA/Assignments/1/testing/text/TestFlushLeft.java

SOFTENG_254_QA/Assignments/2/**/*.java
SOFTENG_254_QA/Assignments/2/project/assignment-2/.classpath
SOFTENG_254_QA/Assignments/2/project/assignment-2/.project
SOFTENG_254_QA/Assignments/2/project/assignment-2/.settings/org.eclipse.jdt.core.prefs
